<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="lib/standalone.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
    stopOnFailure="false">
    <testsuites>
        <testsuite name="Octo Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APPLICATION_ENV" value="testing"/>
        <env name="SITE_NAME" value="octo"/>
        <env name="OCTO_STANDALONE" value="true"/>
    </php>
</phpunit>
